.vscode/launch.json
.vscode/tasks.json
TicketSearch/bin/Debug/netcoreapp3.1/TicketSearch.deps.json
TicketSearch/bin/Debug/netcoreapp3.1/TicketSearch.dll
TicketSearch/bin/Debug/netcoreapp3.1/TicketSearch.pdb
TicketSearch/bin/Debug/netcoreapp3.1/TicketSearch.runtimeconfig.dev.json
TicketSearch/bin/Debug/netcoreapp3.1/TicketSearch.runtimeconfig.json
TicketSearch/bin/Debug/netcoreapp3.1/Files/JSON/organizations.json
TicketSearch/bin/Debug/netcoreapp3.1/Files/JSON/tickets.json
TicketSearch/bin/Debug/netcoreapp3.1/Files/JSON/users.json
TicketSearch.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/testhost.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/TicketSearch.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/TicketSearch.pdb
TicketSearch.Test/bin/Debug/netcoreapp3.1/TicketSearch.Test.deps.json
TicketSearch.Test/bin/Debug/netcoreapp3.1/TicketSearch.Test.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/TicketSearch.Test.pdb
TicketSearch.Test/bin/Debug/netcoreapp3.1/TicketSearch.Test.runtimeconfig.dev.json
TicketSearch.Test/bin/Debug/netcoreapp3.1/TicketSearch.Test.runtimeconfig.json
TicketSearch.Test/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/xunit.assert.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/xunit.core.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/Files/JSON/organizations.json
TicketSearch.Test/bin/Debug/netcoreapp3.1/Files/JSON/tickets.json
TicketSearch.Test/bin/Debug/netcoreapp3.1/Files/JSON/users.json
TicketSearch.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TicketSearch.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TicketSearch.Test/obj/project.assets.json
TicketSearch.Test/obj/project.nuget.cache
TicketSearch.Test/obj/TicketSearch.Test.csproj.nuget.dgspec.json
TicketSearch.Test/obj/TicketSearch.Test.csproj.nuget.g.props
TicketSearch.Test/obj/TicketSearch.Test.csproj.nuget.g.targets
TicketSearch.Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
TicketSearch.Test/obj/Debug/netcoreapp3.1/TicketSearch.Test.AssemblyInfo.cs
TicketSearch.Test/obj/Debug/netcoreapp3.1/TicketSearch.Test.AssemblyInfoInputs.cache
TicketSearch.Test/obj/Debug/netcoreapp3.1/TicketSearch.Test.assets.cache
TicketSearch.Test/obj/Debug/netcoreapp3.1/TicketSearch.Test.csproj.CopyComplete
TicketSearch.Test/obj/Debug/netcoreapp3.1/TicketSearch.Test.csproj.CoreCompileInputs.cache
TicketSearch.Test/obj/Debug/netcoreapp3.1/TicketSearch.Test.csproj.FileListAbsolute.txt
TicketSearch.Test/obj/Debug/netcoreapp3.1/TicketSearch.Test.csprojAssemblyReference.cache
TicketSearch.Test/obj/Debug/netcoreapp3.1/TicketSearch.Test.dll
TicketSearch.Test/obj/Debug/netcoreapp3.1/TicketSearch.Test.genruntimeconfig.cache
TicketSearch.Test/obj/Debug/netcoreapp3.1/TicketSearch.Test.pdb
TicketSearch/obj/project.assets.json
TicketSearch/obj/project.nuget.cache
TicketSearch/obj/TicketSearch.csproj.nuget.dgspec.json
TicketSearch/obj/TicketSearch.csproj.nuget.g.props
TicketSearch/obj/TicketSearch.csproj.nuget.g.targets
TicketSearch/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
TicketSearch/obj/Debug/netcoreapp3.1/TicketSearch.AssemblyInfo.cs
TicketSearch/obj/Debug/netcoreapp3.1/TicketSearch.AssemblyInfoInputs.cache
TicketSearch/obj/Debug/netcoreapp3.1/TicketSearch.assets.cache
TicketSearch/obj/Debug/netcoreapp3.1/TicketSearch.csproj.CoreCompileInputs.cache
TicketSearch/obj/Debug/netcoreapp3.1/TicketSearch.csproj.FileListAbsolute.txt
TicketSearch/obj/Debug/netcoreapp3.1/TicketSearch.csprojAssemblyReference.cache
TicketSearch/obj/Debug/netcoreapp3.1/TicketSearch.dll
TicketSearch/obj/Debug/netcoreapp3.1/TicketSearch.genruntimeconfig.cache
TicketSearch/obj/Debug/netcoreapp3.1/TicketSearch.pdb
